<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twitter</title>
  <link href="{% static 'twitter/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'twitter/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'twitter/css/bootstrap-icons.min.css' %}" rel="stylesheet">
</head>

<body>

  {% include 'navbar.html' %}
  <br>
  <div class="container">

    {% block content %}
    {% endblock %}
    
  </div>
  
  {% block scripts %}
  {% endblock scripts %}
  <script src="{% static 'twitter/js/popper.min.js' %}"></script>
  <script src="{% static 'twitter/js/jquery.min.js' %}"></script>
  <script src="{% static 'twitter/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>