
<!-- Meep Delete Confirm Modal -->
<div id="meepDeleteModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('meepDeleteModal')">&times;</span>
        <h2>Are you sure you want to delete this meep ?</h2>
        <p>This can't be undone.</p>
        <button class="btn btn-primary mb-2" id="confirmDeleteBtn">Yes</button>
        <button class="btn btn-secondary" onclick="closeModal('meepDeleteModal')">Cancel</button>
    </div>
</div>
